* {
    font-family: 'Open Sans', 'sans-serif';
}
video{
    width:84%;
    font-size: 15px;
}
.controls_container{
    position: absolute;
    top:1em;
    left:1em;
    width: 20em;
    background-color: #c2cfcf;
}
.controls_container ul{
    padding-left: 1em;
    list-style-type: none;
}
.controls_container a{
    text-decoration: none;
    color: #1a1a1a;
}
.controls_container a:hover{
    text-decoration: none;
    background-color: #4A90E2;
    cursor: pointer;
}
.controls_container a:active{
    text-decoration: none;
    background-color: #4A90E2;
}
.sub-menu {
    position: absolute;
    top: 5px;
    left: 30%;
    z-index: 10;
    display: none;
    width: 70%;
    margin: 0;
    padding: 1em;
    list-style: none;
    background: #fcf8e3;
}
li:hover .sub-menu {
    display: block;
}
li {
    position: relative;
}
